language: generic

before_install:
    - openssl aes-256-cbc -K $encrypted_c6060cc7b88f_key -iv $encrypted_c6060cc7b88f_iv -in kubeconfig.enc -out kubeconfig -d
    - export KUBECONFIG=./kubeconfig

install:
    - curl -L https://github.com/Eneco/landscaper/releases/download/1.0.7/landscaper-1.0.7-linux-amd64.tar.gz | tar zx
    - curl -L https://kubernetes-helm.storage.googleapis.com/helm-v2.5.0-linux-amd64.tar.gz | tar zx
    - mv linux-amd64/helm .

before_script:
    - ./helm init -c
    - ./helm dependency update socks-shop
    - ./helm package socks-shop
    - ./helm serve &

script:
    - ./landscaper apply --dry-run socks.yaml
